<!-- plantillas/registration/password_change_form-->
{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block titulo %}- Cambiar contrasena{% endblock titulo %}
{% block contenido %}

<h1>Cambiar contrasena</h1>
<p>Por favor introduzca su contrasena anterior, por razones de seguridad, 
    introduzca dos veces su nueva contrasena para verificar que la escribio correctamente
</p>
<form action="" method="post">{% csrf_token %}

    {{form|crispy}}
    <input type="submit" class="btn btn-success" value="Cambiar mi contrasena">

</form>
{% endblock contenido %}