<!--plantillas/registration/password_reset_from-->
{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block titulo %} - Olvido su contrasena? {% endblock titulo %}
{% block contenido %}

<h1>Olvido su contrasena?</h1>
<p>Introduzca su direccion de email abajo, y le enviaremos un email
    con instrucciones para establecer una nueva contrasena.
</p>
<form action="" method="post">
    {% csrf_token %}
    {{from|crispy}}
    <input type="submit" class="btn btn-success" value="Envienme instrucciones!" >
</form>

{% endblock contenido %}