{% extends '_base.html' %}
{% load static %}
{% comment %} {% load socialaccount %} {% endcomment %}

{% block contenido %}
{% comment %} {% providers_media_js %} {% endcomment %}

<div class="home">
  <section>
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-6 dark-overlay split-screen-column align-items-center align-items-lg-end" style="background-image: url(https://badomensofficial.com/cdn/shop/t/29/assets/bo-footer-promo-p-1600.png?v=156528871753265248431684784513); background-color: #d2cecb; background-size: cover; background-position: center;"> 
          <div class="overlay-content py-6 mt-6 px-lg-5 mt-lg-0 mb-lg-5">
            <h1 class="display-3 mb-4 text-white fw-bold split-screen-heading letter-spacing-1">Obtener la musica que mas te gusta</h1>
            <p class="lead mb-4"></p>
            <p> <a class="btn btn-light mx-1 mb-1" href="/articulos/">Ver coleccion</a><a class="btn btn-outline-light mx-1 mb-1" href="/articulos/categorias">Categorias</a></p>
          </div>
          
        </div>
  
         <div class="col-lg-6 dark-overlay split-screen-column align-items-center align-items-lg-end" style="background-image: url(https://badomensofficial.com/cdn/shop/files/FindingGod2.png?v=1689195592); background-color: #d2cecb; background-size: cover; background-position: center;"> 
          <div class="overlay-content py-6 mt-6 px-lg-5 mt-lg-0 mb-lg-5">
            <h1 class="display-3 mb-4 text-white fw-bold split-screen-heading letter-spacing-1">Vinyl</h1>
            <p class="lead mb-4"></p>
            <p> <a class="btn btn-light mx-1 mb-1" href="/articulos/">ver coleccion</a><a class="btn btn-outline-light mx-1 mb-1" href="/articulos/categorias">Categorias</a></p>
          </div>
        </div> 
  
         <div class="col-lg-6 dark-overlay split-screen-column align-items-center align-items-lg-end" style="background-image: url(https://badomensofficial.com/cdn/shop/files/FindingGod2.png?v=1689195592); background-color: #d2cecb; background-size: cover; background-position: center;"> 
          <div class="overlay-content py-6 mt-6 px-lg-5 mt-lg-0 mb-lg-5">
            <h1 class="display-3 mb-4 text-white fw-bold split-screen-heading letter-spacing-1">CD</h1>
            <p class="lead mb-4"></p>
            <p> <a class="btn btn-light mx-1 mb-1" href="/articulos/">ver coleccion</a><a class="btn btn-outline-light mx-1 mb-1" href="/articulos/categorias">Categorias</a></p>
          </div>
          
        </div> 
        <!--https://d19m59y37dris4.cloudfront.net/sell/2-0/img/photo/ian-dooley-347962-unsplash.jpg-->
         <div class="col-lg-6 split-screen-column align-items-center align-items-lg-end" style="background-image: url(https://www.linkinpark.com/sites/g/files/g2000015666/files/styles/merch_image_600_600/public/2019-04/albums-featured.jpeg?itok=TtL4XjHf); background-color: #e5b6b4; background-size: cover; background-position: center;"> 
          <div class="py-6 px-lg-5 mb-lg-5">
            <h1 class="display-3 mb-4 text-white fw-bold split-screen-heading letter-spacing-1">De tus artistas favoritos</h1>
            <p class="lead mb-4"></p>
            <p> <a class="btn btn-light mx-1 mb-1" href="/articulos/">Ver coleccion</a><a class="btn btn-outline-light mx-1 mb-1" href="/articulos/categorias">Categorias</a></p>
          </div>
        </div>  
      </div>
    </div>
  </section>  
  
</div>




<div class = "home">
  <section>
    <section class="py-6 bg-gray-100">
      <div class="container">
       <div class="row">
          <div class="col-xl-8 mx-auto text-center mb-5">
            <h1>Categorias</h1>
            <p class="lead text-muted"></p>
          </div>
        </div> 
    
         <div class="row">
          <div class="col-md-6 d-flex align-items-md-stretch mb-4 mb-md-0">
            <div class="d-flex align-items-center text-white dark-overlay w-100 text-center py-6 py-md-0" style="background: center center url(https://redhotchilipeppers.com/assets/img/tour-dates-slide-7.jpg) no-repeat; background-size: cover);"><a class="tile-link" href="category.html"> </a>
              {% comment %} <div class="card-img-overlay w-100 overlay-content">
              <h2 class="display-2 fw-bold text-uppercase mb-0">Rock</h2> 
              </div> {% endcomment %}
              <h2 class="display-2 fw-bold text-uppercase mb-0">Rock</h2> 

    
            </div>
          </div>
          <div class="col-md-6">
            <div class="card border-0 text-white text-center mb-4 dark-overlay"> <img class="card-img" src="https://www.drdre.com/files/2023/02/3200x1800-compressed-1536x835.jpg" alt="Ladies"><a class="tile-link" href="category.html"> </a>
              <div class="card-img-overlay d-flex align-items-center">
                <div class="text-center w-100 overlay-content">
                  <h2 class="display-4 fw-bold text-uppercase text-center mb-0">Hip Hop</h2>
                </div>
              </div>
            </div>
    
           <div class="card border-0 text-white text-center mb-4 dark-overlay"> <img class="card-img" src="https://badomensofficial.com/cdn/shop/t/34/assets/bo-footer-promo-p-1600.png?v=156528871753265248431698939694" alt="Ladies"><a class="tile-link" href="category.html"> </a>
              <div class="card-img-overlay d-flex align-items-center">
                <div class="text-center w-100 overlay-content">
                  <h2 class="display-4 fw-bold text-uppercase text-center mb-0"></h2>
                </div>
              </div>
            </div>
    
            <div class="card border-0 text-white text-center  dark-overlay"> <img class="card-img" src="https://store.taylorswift.com/cdn/shop/files/L2BkajKd7PGZm4HNdOvA_600x.png?v=1684773869" alt="Accessories"><a class="tile-link" href="category.html"> </a>
              <div class="card-img-overlay d-flex align-items-center">
                <div class="text-center w-100 overlay-content">
                  <h2 class="display-4 fw-bold text-uppercase text-center mb-0">Pop</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>

 
{% endblock contenido %}
